.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
    margin-top: 36px;
  }
}

.logo {
  margin-bottom: 87px;
  margin-right: 42px;
  padding-top: 2px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
